{% extends "base_site.html" %}
{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div>
                    <h1 class="h3 mb-2 text-gray-800">{{title}}</h1>
                    <p class="mb-4">Berikut merupakan data penyebaran covid-19 per provinsi di Indonesia yang didapatkan melalui API <a target="_blank"
                            href="https://data.covid19.go.id/public/api/update.json">data.covid19.go.id</a>.</p>
                        </div>
                    <div>
                        <p class="text-right mb-0 ">Last Update:</p>
                        <p class="text-right mb-0"><b>{{created}}</b></p>
                    </div>
                    </div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Penyebaran per Provinsi</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="text-info">Provinsi</th>
                                            <th class="text-warning">Jumlah dirawat</th>
                                            <th class="text-success">Jumlah Sembuh</th>
                                            <th class="text-danger">Jumlah Meninggal</th>
                                          </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th class="text-info">Provinsi</th>
                                            <th class="text-warning">Jumlah dirawat</th>
                                            <th class="text-success">Jumlah Sembuh</th>
                                            <th class="text-danger">Jumlah Meninggal</th>
                                          </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for data in response.list_data %}
                                            <tr>
                                                <th scope="row">{{forloop.counter}}</th>
                                                <td>{{data.key}}</td>
                                                <td>{{data.jumlah_dirawat}}</td>
                                                <td>{{data.jumlah_sembuh}}</td>
                                                <td>{{data.jumlah_meninggal}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container-fluid d-flex justify-content-end mb-4">
                    <a href="/" class="btn btn-info btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fa fa-home"></i>
                        </span>
                        <span class="text">Kembali ke Dashboard</span>
                    </a>
                    </div>
                <!-- /.container-fluid -->
                                        {% endblock %}